* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    src: url(./Asset/Montserrat/Montserrat-Regular.ttf);
    font-family: Montserrat Reg;
}

body {
    font-family: Montserrat Reg;
}

/* @media only screen and (min-width: 768px) { */
    /* TASK BAR */
.navi-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: whitesmoke;
    padding: 10px;
}

a {
    text-decoration: none;
}

.logo {
    width: 250px;
    text-align: center;
}

.logo>a {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: black;
    font-size: 40px;
}

.logo-image {
    width: 40px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 800px;
}

.menu-item {
    padding: 10px;
}

.menu-item>a {
    color: black;
    font-size: 18px;
}

.menu-item:hover {
    background-color: #a8c9f8;
    border-radius: 8px;
    transform: scale(1.1);
    transition: ease-out;
    transition-duration: 0.3s;
}

.menu-item.active {
    background-color: #DB6400;
}

/* INTRODUCTION DIV 1 */
.intro {
    background-image: url(./Asset/Background/slogan\ bgr.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
    padding: 0 50px;
    /* height: 100vh; */
}

.slogan {
    color: rgb(255, 254, 254);
    font-weight: 300;
    padding: 130px 0 30px 0px;
}

.slogan>div>div>h1 {
    font-size: 65px;
}

.slogan>p {
    margin-top: 30px;
    font-size: 21px;
    line-height: 150%;
}

.slogan-image {
    display: grid;
    height: 390px;
    margin: 80px 0 150px 0;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 10px;
    text-align: center;
    width: 100%;
}

.slg-img1 {
    grid-row: 1/4;
}

.slg-img3 {
    grid-row: 2/5;
}

.slg-img2 {
    grid-row: 1/3;
}

.slg-img4 {
    grid-row: 3/5;
}

.slogan-image>div>img {
    height: 100%;
    border-radius: 12px;
    max-width: 150px;
}

.slogan>div {
    margin: auto;
}

.btn-white {
    width: fit-content;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    margin: 10px auto 50px auto;
    font-family: Montserrat Reg;
    font-size: 22px;
}

.btn-white>a {
    color: black;
}

.btn-white:hover {
    background-color: #DB6400;
    border-radius: 8px;
    transform: scale(1.15);
    transition: ease-out;
    transition-duration: 0.3s;
}

/* BUTTON TO SCROLL TOP */
.top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 20px 25px;
    border-radius: 50%;
    color: black;
}

.top-btn>i:hover {
    transform: scale(1.15);
    transform: translateY(-5px);
    transition: ease-out;
    transition-duration: 0.3s;
}

/* NEW WORD - DIV 2 */
.new-word {
    padding-top: 50px;
    text-align: center;
    height: fit-content;
    background-image: url(./Asset/Background/bgr2.jpg);
    background-size: cover;
}

.heading1 {
    font-size: 60px;
    padding-top: 30px;
    text-align: center;
}

.new-word-number {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 60%;
    margin: 30px auto;
}

.new-word-number>div>h2 {
    font-size: 45px;
}

.new-word-number>div>p {
    font-size: 25px;
}

.new-word-benefit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    padding: 0px 50px 50px 50px;
    grid-gap: 10px;
}

.new-word-benefit>div {
    border-radius: 25%;
    padding: 8px;
}

.new-word-benefit>div>h2 {
    font-size: 25px;
}

.new-word-benefit>div>p {
    font-size: 18px;
}

.top {
    grid-row: 1/3;
    background-color: rgba(255, 255, 255, 0.9);
}

.bottom {
    grid-row: 2/4;
    background-color: rgba(255, 255, 255, 0.9);
}

/* REMEMBER ELEMENT - DIV 3 */
.remember-element {
    text-align: center;
    background-image: url(./Asset/Background/bgr3.jpg);
    background-size: cover;
    /* height: 100vh; */
}

.element-number {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    margin: 30px auto;
}

.element-number>div>h2 {
    font-size: 45px;
}

.element-number>div>p {
    font-size: 25px;
}

.element-content {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    text-align: left;
    grid-gap: 0 40px;
    padding: 10px;
    width: 90%;
    margin: auto;
}

.element-content-img {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.5fr;
    grid-template-rows: 0.3fr 0.7fr 0.25fr 0.5fr;
    grid-gap: 10px;
}

.row2-4 {
    grid-row: 2/4;
}

.row1-3 {
    grid-row: 1/3;
}

.row3-5 {
    grid-row: 3/5;
}

.element-content-img>div>img {
    width: 150px;
    border-radius: 20px;
}

.row1-3>img,
.row3-5>img {
    height: 100%;
}

.row2-4>img {
    width: 150px;
}

.element-content-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0.1fr 0.1fr 0.7fr;
    overflow: hidden;
}

.element-content-list>div {
    border-left: 8px solid rgb(197, 158, 253);
    height: fit-content;
    line-height: 200%;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 4px 18px 18px 4px;
    padding: 15px;
}

.element-content-list>div>h2 {
    font-size: 30px;
}

.element-content-list>div>p {
    font-size: 18px;
}

.list1-4 {
    grid-column: 1/4;
}

.list2-4 {
    grid-column: 2/4;
}

.list3-4 {
    grid-column: 3/4;
}

/* EXERCISE - DIV 4 */
.exercise {
    text-align: center;
    background-image: url(./Asset/Background/bgr4.jpg);
    background-size: cover;
}

.exercise-number {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 40%;
    margin: 30px auto;
}

.exercise-number>div>h2 {
    font-size: 45px;
}

.exercise-number>div>p {
    font-size: 25px;
}

.exercise-content {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 45px;
    width: 75%;
    margin: auto;
    padding: 20px;
}

.col1-3 {
    grid-column: 1/3;
    background-color: rgba(255, 255, 255, 0.9);
    ;
}

.col3-4 {
    grid-column: 3/4;
    margin-top: -30px;
}

.col1-2 {
    grid-column: 1/2;
    margin-top: -30px;
}

.col2-4 {
    grid-column: 2/4;
    background-color: rgba(255, 255, 255, 0.9);
}

.row1-2 {
    grid-row: 1/2;
}

.row2-3 {
    grid-row: 2/3;
}

.row3-4 {
    grid-row: 3/4;
}

.bgr-orange {
    background-color: rgba(255, 255, 255, 0.9);
}

.exercise-content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.exercise-content>div>img {
    width: 200px;
    border-radius: 18px;
}

.exercise-content>div>h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.exercise-content>div>p {
    font-size: 18px;
}

/* USER FEEEDBACK - DIV 5 */
.user-feedback {
    text-align: center;
    background-image: url(./Asset/Background/bgr5.jpg);
    background-size: cover;
}

.user-number {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    width: 40%;
    margin: 30px auto 60px auto;
}

.user-number>div>h2 {
    font-size: 45px;
}

.user-number>div>p {
    font-size: 25px;
}

.user-feedback-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-gap: 15px;
    margin: auto;
    width: 90%;
}

.above {
    grid-row: 1/3;
}

.under {
    grid-row: 2/4;
}

.user-feedback-child {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    grid-row-gap: 5px;
    padding-bottom: 50px;
}

.user-infor {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: #a8c9f8;
    border-radius: 18px 18px 0 0;
    padding: 15px 0;
}

.user-infor>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 200%;
}

.user-infor>div>img {
    width: 100px;
    border-radius: 50%;
}

.user-infor>div>h2 {
    font-size: 24px;
    text-align: left;
}

.user-infor>div>p {
    font-size: 15px;
}

.feedback-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 18px 18px;
    padding: 15px;
    line-height: 250%;
    font-size: 18px;
}


/* START LEARNING - BACKGROUND 6 */
.start-learning {
    background-image: url(./Asset/Background/bgr7.jpg);
    background-size: cover;
}

.learning-process {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    padding: 50px 130px;
}

.learning-section {
    display: grid;
    grid-template-rows: 400px 100px;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 400%;
    font-size: 35px;
    background-image: url(./Asset/Background/learn\ word.jpg);
    background-size: cover;
    border-radius: 18px 18px 0 0;
    height: fit-content;
}

.list>ul {
    list-style-type: none;
}

.scale,
.learning-section-name>a {
    color: black;
}

.scale {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.758);
    border-radius: 8px;
}

.scale :hover {
    transform: translate(100px);
}

.learning-section-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    line-height: 200%;
    background-color: rgb(68, 170, 204);
    border-radius: 0 0 18px 18px;
}

/* PARTNER -DIV 7*/
.partner {
    background-image: url(./Asset/Background/bgr6.jpg);
    background-size: cover;
}

.partner-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    grid-row-gap: 100px;
    padding: 50px;
}

.partner>div {
    font-size: 20px;
    font-weight: bold;
    line-height: 200%;
}

.partner-list>div>img {
    width: 100px;
}

/* FOOTER - DIV 8 */
.footer {
    background-image: url(./Asset/Background/footer\ bgr.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    font-size: 20px;
    padding: 0 80px;
    grid-row-gap: 30px
}

.channel>a {
    padding: 30px;
    line-height: 200%;
}

.footer-infor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.footer-infor>a {
    color: black;
}

.footer-img>img {
    width: 150px;
    border-radius: 10px;
}

.contact>p,
.collect-feedback>p {
    font-size: 40px;
    line-height: 250%;
}

.channel>a>i {
    color: white;
}

.enter-feedback {
    font-size: 16px;
    text-align: left;
}

.enter-feedback>input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[placeholder] {
    font-size: 16px;
}

input[type=submit] {
    background-color: white;
    font-family: Montserrat Reg;
    font-size: 18px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #DB6400;
}
/* } */


@media screen and (min-width: 768px){
    .slogan-image>div>img {
        height: 100%;
        border-radius: 12px;
        max-width: 150px;
    }
}

/*Tablet nhá»(480 x 640)*/
@media screen and (max-width: 768px){
    .slogan-image>div>img {
        height: 100%;
        border-radius: 12px;
        max-width: 40px;
    }
}
