.contact{
    background-image: url(/Asset/Background/contact\ bgr.jpg);
    background-size: cover;
}
.contact-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 80px 20px;
    text-align: center;
    padding: 50px 100px;
}
.contact-info{
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 250%;
    background-color: rgba(255, 255, 255, 0.748);
    border-radius: 18px;
    width: fit-content;
    padding: 30px;
    margin: auto;
}
.message{
    font-size: 50px;
    margin-bottom: 50px;
}
.lets-contact{
    line-height: 250%;
}
.margin-bottom{
    margin-bottom: 30px;
}