/* .element-container{
    background-image: url(Asset/Background/html.jpg);
    background-size: cover;
} */
.html-element {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 20px 10px;
    max-width: 95%;
    margin: auto;
    padding-top: 30px;
}

/* Dropdown Button */
.element-item {
    position: relative;
    background-image: linear-gradient(90deg, #C2DED1, #F9CEEE);
    /* background-color: rgba(255, 255, 255, 0.788); */
    border: 1px solid lightgray;
    border-radius: 36px;
    cursor: pointer;
    width: 100%;
    /* border: none; */
    padding: 5px;
    font-size: 20px;
    font-family: Montserrat Reg;
    font-weight: bold;
    box-shadow: 0 1px 1px rgba(39, 39, 39, 0.178),
        0 2px 2px rgba(39, 39, 39, 0.178),
        0 4px 4px rgba(39, 39, 39, 0.178),
        0 8px 8px rgba(39, 39, 39, 0.178),
        0 16px 16px rgba(39, 39, 39, 0.178);
}

/* ĐỔi màu nền khi hover và focus Dropdown button */
.element-item:hover,
.element-item:focus {
    background-color: #FF6701;
}

.element-item-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.element-item-content {
    display: none;
    position: absolute;
    width: 100%;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: ease-out;
    transition-duration: 0.3s;
}

.element-item-content>h4 {
    font-weight: 1500;
}

.show {
    display: block;
}