html {
    scroll-behavior: smooth;
}

.studying-container {
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    text-align: center;
    margin: auto;
    background-color: lightgray;
}

.studying-container>img {
    width: 100%;
    margin: auto;
    height: auto;
}

.studying-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-column-gap: 30px;
    width: 80%;
    margin: -100px auto 0 auto;
}

.studying-item>a {
    color: black;
}

.studying-item>a>img {
    width: 100px;
}

.studying-item>a>h2 {
    font-size: 35px;
    background-color: #da7135dd;
    border-radius: 24px;
}

.studying-item {
    line-height: 300%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

.studying-item>a :hover {
    transform: translateY(8px);
    transition: ease-in-out;
    transition-duration: 0.3s;
}

/* Study element */
.element-studying-container {
    background-image: url(Asset/Background/bgr\ study\ element.jpg);
    background-size: cover;
}

.element-studying {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 0.3fr 0.3fr 0.4fr 0.3fr 0.3fr;
    text-align: center;
    grid-column-gap: 50px;
    margin: auto;
    padding: 20px 100px;
    width: calc(100% - 100px)
}

.row3-6 {
    grid-row: 3/6;
}

.row2-5 {
    grid-row: 2/5;
}

.row1-4 {
    grid-row: 1/4;
}

.element-studying>a>img {
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.element-studying>a>h2 {
    font-size: 35px;
    background-color: #e27945ec;
    line-height: 200%;
    border-radius: 0 0 12px 12px;
    color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

.element-studying a :hover {
    transform: translateY(8px);
    transition: ease-in-out;
    transition-duration: 0.3s;
}

/* Game */
.game-container {
    background-image: url(Asset/Background/practice\ bgr.jpg);
    background-size: cover;
}

.game {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    /* text-align: center; */
    margin: auto;
    padding: 30px 0 30px 0;
    width: 65%;
}

.game>a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.game>a>h2 {
    font-size: 35px;
    background-color: #f7915ef3;
    border-radius: 36px;
    padding: 10px 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.164),
        0 2px 2px rgba(0, 0, 0, 0.164),
        0 4px 4px rgba(0, 0, 0, 0.164),
        0 8px 8px rgba(0, 0, 0, 0.164),
        0 16px 16px rgba(0, 0, 0, 0.164);
}

.game>img {
    display: flex;
    justify-content: center;
    width: 420px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.164),
        0 2px 2px rgba(0, 0, 0, 0.164),
        0 4px 4px rgba(0, 0, 0, 0.164),
        0 8px 8px rgba(0, 0, 0, 0.164),
        0 16px 16px rgba(0, 0, 0, 0.164)
}

.game>a>h2:hover {
    transform: translateY(8px);
    transition: ease-in-out;
    transition-duration: 0.3s;
}