/* BACKGROUND 1 - COMPANY INTRODUCTION */
.company-info {
    background-image: url(./Asset/Background/intro\ bgr1.jpg);
    background-size: cover;
}

.company-info-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}

.company-img {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 0.75fr 1fr;
    width: 70%;
    margin: auto;
}

.company-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0.656);
    padding: 25px;
    border-radius: 18px;
}

.company-img>div>img {
    width: 250px;
    border-radius: 12px;
}

.text18 {
    font-size: 18px;
}

.cpn-img-top {
    grid-column: 1/6;
    margin: 0 auto -30px auto;
}

.cpn-img-bottom-left {
    grid-column: 1/3;
}

.cpn-img-bottom-right {
    grid-column: 4/6;
}

/* BACKGROUND 2 - COMPANY HISTORY */
.company-history {
    background-image: url(./Asset/Background/intro\ bgr2.jpg);
    background-size: cover;
}

.company-history-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 1fr;
    grid-column-gap: 20px;
    padding: 50px 50px;
    margin: auto;
}

.history-list {
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 18px;
    height: fit-content;
    padding: 10px;
    text-align: center;
}

.history-list>img {
    width: 50px;
}

.row56 {
    grid-row: 5/6;
}

.row46 {
    grid-row: 4/6;
}

.row36 {
    grid-row: 3/6;
}

.row26 {
    grid-row: 2/6;
}

.row16 {
    grid-row: 1/6;
}

/* BACKGROUND 3 - GOAL */
.goal {
    background-image: url(./Asset/Background/intro\ bgr3.jpg);
    background-size: cover;
}

.goal-content {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.7fr 0.25fr 0.25fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 50px 0;
}

.col13 {
    grid-column: 1/3;
}

.col46 {
    grid-column: 4/6;
}

.col25 {
    grid-column: 2/5;
    margin: -60px;
}

.row1 {
    grid-row: 1/2;
}

.row2 {
    grid-row: 2/3;
}

.row3 {
    grid-row: 3/4;
}

.goal-list>img {
    width: 80px;
}

.widthbig {
    width: 500px;
    border-radius: 18px;
}

.text22 {
    font-size: 22px;
}

.goal-list {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 18px;
}

.z-index {
    z-index: 2;
}