* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat Reg;
}

body {
    background-image: url(./Asset/Background/log\ in\ bgr.jpg);
    background-size: cover;
    height: 100vh;
}

@media only screen and (min-width: 1024px){
    
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#password-messenger {
    color: red;
}

.login-img-bottom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    left: 50px;
    width: 280px;
    border-radius: 18px;
}

.login-img-top {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 50px;
    width: 280px;
    border-radius: 18px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 18px;
}

.form {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form>h2 {
    color: #607d8b;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid orangered;
    letter-spacing: 1px;
}

.input-form {
    margin-bottom: 20px;
}

.input-form span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    letter-spacing: 1px;

}

.input-form input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;

}

.input-form input[type="submit"] {
    background: rgb(255, 121, 44);
    color: black;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

.input-form input[type="submit"]:hover {
    background: orangered;
    color: white;
}

.remember-info {
    margin-bottom: 10px;
    color: #607d8b;
    font-size: 14px;
}

.input-form>p {
    color: #607d8b;
}

.input-form>p>a {
    color: orangered;
}

.form>h3 {
    color: #607d8b;
    text-align: center;
    margin: 50px 0 10px;
    font-weight: 500;
}

.channel-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel-icon>li {
    list-style: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel-icon>li:nth-child(1) {
    color: #3b5999;
}

.channel-icon>li:nth-child(2) {
    color: #dd4b39;
}

.channel-icon>li>i {
    font-size: 30px;
}
}

@media only screen and (max-width: 1024px){
    .login-img-bottom {
        bottom: 50px;
        left: 50px;
        width: 150px;
    }
    
    .login-img-top {
        top: 50px;
        right: 50px;
        width: 150px;
    }
    section > img{
        display: none;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.521);
        border-radius: 18px;
    }
    .form {
        padding: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form>h2 {
        color: #607d8b;
        font-weight: 500;
        font-size: 1.5em;
        text-transform: uppercase;
        margin-bottom: 20px;
        border-bottom: 4px solid orangered;
        letter-spacing: 1px;
    }
    
    .input-form {
        margin-bottom: 20px;
    }
    
    .input-form span {
        font-size: 16px;
        margin-bottom: 5px;
        display: inline-block;
        color: #607db8;
        letter-spacing: 1px;
    
    }
    
    .input-form input {
        width: 100%;
        padding: 10px 20px;
        outline: none;
        border: 1px solid #607d8b;
        font-size: 16px;
        letter-spacing: 1px;
        color: #607d8b;
        background: transparent;
        border-radius: 30px;
    
    }
    
    .input-form input[type="submit"] {
        background: rgb(255, 121, 44);
        color: black;
        outline: none;
        border: none;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
            0 2px 2px rgba(0, 0, 0, 0.12),
            0 4px 4px rgba(0, 0, 0, 0.12),
            0 8px 8px rgba(0, 0, 0, 0.12),
            0 16px 16px rgba(0, 0, 0, 0.12);
    }
    
    .input-form input[type="submit"]:hover {
        background: orangered;
        color: white;
    }
    
    .remember-info {
        margin-bottom: 10px;
        color: #607d8b;
        font-size: 14px;
    }
    
    .input-form>p {
        color: #607d8b;
    }
    
    .input-form>p>a {
        color: orangered;
    }
    
    .form>h3 {
        color: #607d8b;
        text-align: center;
        margin: 50px 0 10px;
        font-weight: 500;
    }
    
    .channel-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .channel-icon>li {
        list-style: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .channel-icon>li:nth-child(1) {
        color: #3b5999;
    }
    
    .channel-icon>li:nth-child(2) {
        color: #dd4b39;
    }
    
    .channel-icon>li>i {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px){
    section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    /* .login-img-bottom {
        bottom: 10px;
        left: 10px;
        width: 80px;
    }
    
    .login-img-top {
        top: 20px;
        right: 20px;
        width: 80px;
    } */
     
    section > img{
        display: none;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.521);
        border-radius: 18px;
    }
    .form {
        padding: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form>h2 {
        color: #607d8b;
        font-weight: 500;
        font-size: 1.5em;
        text-transform: uppercase;
        margin-bottom: 20px;
        border-bottom: 4px solid orangered;
        letter-spacing: 1px;
    }
    
    .input-form {
        margin-bottom: 20px;
    }
    
    .input-form span {
        font-size: 16px;
        margin-bottom: 5px;
        display: inline-block;
        color: #607db8;
        letter-spacing: 1px;
    
    }
    
    .input-form input {
        width: 100%;
        padding: 10px 20px;
        outline: none;
        border: 1px solid #607d8b;
        font-size: 16px;
        letter-spacing: 1px;
        color: #607d8b;
        background: transparent;
        border-radius: 30px;
    
    }
    
    .input-form input[type="submit"] {
        background: rgb(255, 121, 44);
        color: black;
        outline: none;
        border: none;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
            0 2px 2px rgba(0, 0, 0, 0.12),
            0 4px 4px rgba(0, 0, 0, 0.12),
            0 8px 8px rgba(0, 0, 0, 0.12),
            0 16px 16px rgba(0, 0, 0, 0.12);
    }
    
    .input-form input[type="submit"]:hover {
        background: orangered;
        color: white;
    }
    
    .remember-info {
        margin-bottom: 10px;
        color: #607d8b;
        font-size: 14px;
    }
    
    .input-form>p {
        color: #607d8b;
    }
    
    .input-form>p>a {
        color: orangered;
    }
    
    .form>h3 {
        color: #607d8b;
        text-align: center;
        margin: 50px 0 10px;
        font-weight: 500;
    }
    
    .channel-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .channel-icon>li {
        list-style: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .channel-icon>li:nth-child(1) {
        color: #3b5999;
    }
    
    .channel-icon>li:nth-child(2) {
        color: #dd4b39;
    }
    
    .channel-icon>li>i {
        font-size: 30px;
    }
}